@using System.Globalization
@using TicketManagement.WebApplication.Models.Purchase
@model IEnumerable<PurchasedSeatViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat!.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat!.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area!.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue!.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Layout!.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area!.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seat!.Row)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seat!.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area!.Price)
                </td>
            </tr>
        }
    </tbody>
</table>