@using System.Globalization
@using TicketManagement.WebApplication.Models.Purchase
@model IEnumerable<PurchasedSeatViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Event"]
            </th>
            <th>
                @Localizer["Start date"]
            </th>
            <th>
                @Localizer["End date"]
            </th>
            <th>
                @Localizer["Venue"]
            </th>
            <th>
                @Localizer["Layout"]
            </th>
            <th>
                @Localizer["Area"]
            </th>
            <th>
                @Localizer["Row"]
            </th>
            <th>
                @Localizer["Number"]
            </th>
            <th>
                @Localizer["Price"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Event!.Name
                </td>
                <td>
                    @User.GetLocalTime(@item.Event!.StartDate).ToString("g")
                </td>
                <td>
                    @User.GetLocalTime(@item.Event!.EndDate).ToString("g")
                </td>
                <td>
                    @item.Venue!.Description
                </td>
                <td>
                    @item.Layout!.Description
                </td>
                <td>
                    @item.Area!.Description
                </td>
                <td>
                    @item.Seat!.Row
                </td>
                <td>
                    @item.Seat!.Number
                </td>
                <td>
                    @item.Area!.Price.ToString("c")
                </td>
            </tr>
        }
    </tbody>
</table>