@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TicketManagement.WebApplication.styles.css" asp-append-version="true" />
    <link href="~/lib/tempus-dominus/dist/css/tempus-dominus.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ticket management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Event" asp-action="Index">@Localizer["Events"]</a>
                        </li>
                        @if (@User.Identities.First().HasClaim(ClaimTypes.Role, "Event manager"))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@Localizer["Event management"]</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-controller="Event" asp-action="CreateEvent">@Localizer["Create event"]</a>
                                    <a class="dropdown-item" asp-controller="Event" asp-action="NotPublishedEvents">@Localizer["Not published events"]</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/popper.js/umd/popper.min.js" crossorigin="anonymous"></script>

    <script src="~/lib/tempus-dominus/dist/js/tempus-dominus.js"></script>

    <script src="~/lib/tempus-dominus/dist/js/jQuery-provider.js"></script>
 
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
