@model ThirdPartyEventEditor.Models.ThirdPartyEventEditModel

@{
    ViewBag.Title = "Edit event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit event</h2>

@using (@Html.BeginForm("Edit", "Home", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentImage, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.CurrentImage)
        <div class="col-md-10">
            <img src="data:image/jpeg;base64,@Model.CurrentImage" alt="" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 editor-field">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.EndDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPosterImage, htmlAttributes: new { @value = "New poster image", @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="NewPosterImage" id="NewPosterImage" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-primary mt-3" />
        </div>
    </div>
</div>
}