@using TicketManagement.WebApplication.Models.Event
@model EditEventViewModel

@using (Html.BeginForm("EditEvent", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Event!.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Event!.Venue, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Venue", Model.Event!.Venues as SelectList, new { id = "venue", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Event!.Layout, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Layout", Model.Event!.Layouts as SelectList, new { id = "layout", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event!.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Event!.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Event!.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event!.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Event!.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Event!.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event!.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Event!.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Event!.StartDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Event!.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Event!.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Event!.EndDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Event!.ImageUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Event!.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Event!.ImageUrl)
        </div>
    </div>

    <div class="form-group">
        @foreach (var item in Model.Areas)
        {
            <div class="col-md-offset-2 col-md-10">
                <label>(@item.Description)</label><input type="number" class="form-control" id="price" name="areas[@item.Id]" value="@item.Price" />

                @Html.ValidationMessageFor(model => model.Areas)
            </div>
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Localizer["Submit"]" />
        </div>
    </div>

</div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#venue').change(function()
            {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("PartialLayoutList")?layoutId=' + id,
                    success: function (data) {
                        $('#layout').replaceWith(data);
                    }
                });
            });
        })
    </script>
}
